body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  canvas {
    border: 10px dotted #000;
    cursor: not-allowed;
  }
  
  .toolbar {
    margin-bottom: 10px;
  }
  